/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul, li, 
menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

button{
    background-color: #0160FF;
    padding: 5px 15px;
    font-size: 13px;
    border: none;
    color: white;
}

button:hover{
    text-decoration: underline;
}

/* FISSI */

.container-sm{
    max-width: 650px;
    margin: 0 auto;

}

.container{
    max-width: 800px;
    margin: 0 auto;
    
}

.container-lg{
    max-width: 1200px;
    margin: 0 auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}



/* LAYOUT */



.row.header{
    justify-content: space-between;
    padding: 16px;
    
}

.link-header{
    display: flex;
    align-items: center;
}

.link-header li{
    padding: 0 8px;
    font-size: 14px;

}

.link-header button a{
    color: white;
}

.link-header button a:hover{
    color: white;
}

.link-header a:hover{
    color: #0160FF;
    text-decoration: underline;
}

.logo img{
    max-width: 90px;
}

.hero{
    background-color:#B3D0E7;
    

}

.container h1{
    font-size: 44px;
    line-height: 55px;
    letter-spacing: 3px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.col1{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.col1 span{
    font-size: 13px;
    padding-top: 15px;
}


.col1 p{
    padding-top: 35px;
    line-height: 21px;
    font-size: 14px;

}

.col1 button{
    margin-top: 20px;
}


.col1 i{
    font-size: 24px;
    margin-top: auto;
    padding: 0;
}

.fa-solid{
    font-size: 35px;
    padding-bottom: 10px;
}

.col2{
    width: 60%;
}

.col2 img{
    transform: translate(10px, 40px);
}

.subscriptions{
    padding-top: 80px;
    padding-bottom: 80px;

}

.subscriptions h4{
    font-size: 24px;
    padding-bottom: 40px;
}

.radio{
    display: inline-block;
    margin-right: 30px;
}

.row.plan{
    justify-content: space-between;
}

.col3{
    max-width: 200px;
    padding-top: 30px;
    width: calc(4 * 100% / 12);
    
    
}


.card{
    min-height: 630px;
    max-height: 900px;
    padding: 10px;
    border: 1px solid rgb(204, 199, 199);
    display: flex;
    flex-direction: column;
    font-size: 13px;
    
}

.card > *{
    padding: 13px 0;
}

.card .title-card h3{
    text-align: center;
}


.type-card{
    text-align: center;
    border-top: 1px solid rgb(186, 180, 180);
    border-left: 1px solid rgb(186, 180, 180);
    border-right: 1px solid rgb(186, 180, 180);
    line-height: 30px;
    
}
.type-card i{
    font-size: 15px;
    padding: 0;
}

.price em{
    display: inline-block;
    color: rgb(162, 159, 159);
    margin-top: 10px;


}

.user i, .folder i, .share i{
    padding: 0;
    font-size: 12px;
}

.btn-try{
    padding: 5px 15px;
}

.link-buy hr{
    width: 40px;
    margin-top: 20px;
    border: 1px solid  rgba(190, 187, 187, 0.7);
    border-bottom: none;
}

.link-buy a{
    text-decoration: underline;
    color: blue;
}

.benefit li i{
    padding: 0;
    font-size: 12px;
    color: #0160FF;
    
}

.benefit ul li{
    margin-top: 15px;
}

.team{
    width: 100%;
    
}

.type-card.box-team{
   margin-top: 30px; 
}

.card-team{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;border: 1px solid rgb(186, 180, 180);;
}

.col6-left{
    width: 70%;
}

.col6-left >*{
    margin-top: 25px;

}

.col6-right{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.col6-right button{
    margin-top: 20px;
}

.row.partner{
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.row.partner img{
    max-width: 90%;
}


.col1-partner{
    width: 65%;

}

.col2-partner{
    width: 35%;
}

.col2-partner p{
    margin-top:25px;
}

.btn-partner{
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
}

.buisness-title{
    font-size: 22px;
    padding-bottom: 15px;
}

.col-buisness{
    width: calc(4 * 100% / 12);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 15px;
}

.col-buisness h4, .col-buisness p{
    padding-top: 15px;
    line-height: 18px;
}

.dropbox-link{
    padding-top: 80px;
    padding-bottom: 80px;
}



.dropbox-link a{
    text-decoration: underline;
    color: blue;
    font-size: 12px;
    display: block;
    margin-top: 40px;
}


.free-trial{
    background-color:#B3D0E7 ;
}

.trial{
    padding: 50px 0;
    justify-content: space-between;
    align-items: center;
}

.col-trial{
    max-width: 70%;
}

.col-trial h3{
    font-size: 22px;
    line-height: 32px;
    word-spacing: 4px;
    color:#641737 ;
}

.col-trial-btn{
    max-width: 30%;
}

.col-trial-btn button{
    background-color: white;
    border-color: rgb(210, 210, 210);
    color: black;
    font-size: 14px;
    padding: 10px 20px;
}

.col-trial-btn a{
    font-size: 12px;
}

.faq{
    padding: 40px 0 90px;
    flex-direction: column;
}

.title-faq{
    padding-top: 50px;
    
}


.col-faq{
    border-bottom: 1px solid black;
    padding: 20px;
}

.col-faq i{
    font-size: 15px;
    transform: translate(130px, 0);
}


.border-up{
    border-top: 1px solid black;
}

footer{
    background-color: black;
    color: white;
    padding: 40px 20px;
}

.footer{
    flex-direction: column;
}

.col-footer{
    display: flex;
    flex-wrap: wrap;
}

.col-footer hr{
    border: 1px solid rgba(190, 187, 187, 0.7);
    width: 85px;
    border-bottom: none;
}


.col5{
    width: calc( 100% / 5);
    padding: 10px 10px 30px 10px;
}

.col5 h5{
    padding-bottom: 15px;
    font-size: 15px;
}

.col5 li{
    font-size: 10px;
    margin-top: 7px;
}

.lenguage{
    padding-top: 15px;
    padding-bottom: 25px;
    
}

.lenguage i{
    font-size: 12px;
    padding: 0;
}

.lenguage select{
    background: transparent;
    border: none;
    color: rgb(199, 194, 194);
}



/* Regole logo invert */
.col-partner2{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    aspect-ratio: 1/1;
}

.partner-logo{
    width: 50%;
    aspect-ratio: 1/1;
    position: relative;
    
}

.green{
    background-color:#84C685;
}

.bordeaux{
    background-color: #711F0F;
}

.blue{
    background-color: #12A7D7;
}

.red-fire{
   background-color: #C20000; 
}

.red{
    background-color: red;
    
}

.red img{
    width: 100%;
}


.cobalt{
    background-color:#5BB7E2 ;
}

.darkblue{
    background-color:#19237D;
}

.yellow{
    background-color: #ECDE2A;
}

.partner-logo img{
    padding: 55px;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}

.col-partner-large{
    flex-direction: column;
    background-color:#F5F5F5 ;
}

.col-partner-large img{
    max-width: 65%;
    padding: 20px;
}

.col-partner-large hr{
    color: gray;
    width: 60px;
    margin-left: 20px;
    border-bottom: none;
    
}

.col-partner-large p{
    font-size: 13px;
    line-height: 18px;
    padding: 20px;
}

.col-partner-large span{
    font-size: 12px;
    padding: 20px;
}










