/* RESET */

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul, li, 
menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    max-width: 100%;
}

button{
    background-color: rgb(57, 57, 205);
    padding: 5px 10px;
    border: none;
    color: white;
}

/* FISSI */

.container-sm{
    max-width: 850px;
    margin: 0 auto;

}

.container{
    max-width: 1050px;
    margin: 0 auto;
    
}

.container-lg{
    max-width: 100%;
    margin: 0 auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}



/* LAYOUT */



.row.header{
    justify-content: space-between;
    padding: 16px;
    
}

.link-header{
    display: flex;
    margin: 0;
    align-items: center;
}

.link-header li{
    padding: 0 8px;

}

.link-header button a{
    color: white;
}