/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul, li, 
menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

button{
    background-color: #0160FF;
    padding: 5px 15px;
    font-size: 13px;
    border: none;
    color: white;
}

/* FISSI */

.container-sm{
    max-width: 650px;
    margin: 0 auto;

}

.container{
    max-width: 800px;
    margin: 0 auto;
    
}

.container-lg{
    max-width: 1200px;
    margin: 0 auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}



/* LAYOUT */



.row.header{
    justify-content: space-between;
    padding: 16px;
    
}

.link-header{
    display: flex;
    align-items: center;
}

.link-header li{
    padding: 0 8px;
    font-size: 14px;

}

.link-header button a{
    color: white;
}

.logo img{
    max-width: 90px;
}

.hero{
    background-color:#B3D0E7;
    

}

.container h1{
    font-size: 44px;
    line-height: 55px;
    letter-spacing: 3px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.col1{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}


.col1 span{
    font-size: 13px;
}


.col1 p{
    padding-top: 35px;
    line-height: 21px;
    font-size: 14px;

}

.col1 button{
    margin-top: 20px;
}

.col1 span{
    padding-top: 15px;
}

.col1 i{
    font-size: 24px;
    margin-top: auto;
    padding: 0;
}

.fa-solid{
    font-size: 35px;
    padding-bottom: 10px;
}

.col2{
    width: 60%;
}

.col2 img{
    transform: translate(10px, 40px);
}

.subscriptions{
    padding-top: 80px;
    padding-bottom: 80px;

}

.subscriptions h4{
    font-size: 24px;
    padding-bottom: 40px;
}

.radio{
    display: inline-block;
    margin-right: 30px;
}

.row.plan{
    justify-content: space-between;
}

.col3{
    max-width: 180px;
    padding-top: 30px;
    width: calc(4 * 100% / 12);
    
    
}


.card{
    min-height: 630px;
    max-height: 900px;
    padding: 10px;
    border: 1px solid rgb(204, 199, 199);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    
}

.card > *{
    padding: 13px 0;
}

.card .title-card h3{
    text-align: center;
}


.type-card{
    text-align: center;
    border-top: 1px solid rgb(186, 180, 180);
    border-left: 1px solid rgb(186, 180, 180);
    border-right: 1px solid rgb(186, 180, 180);
    line-height: 30px;
    
}
.type-card i{
    font-size: 15px;
    padding: 0;
}

.price em{
    display: inline-block;
    color: rgb(162, 159, 159);
    margin-top: 10px;


}

.user i, .folder i, .share i{
    padding: 0;
    font-size: 12px;
}

.link-buy hr{
    width: 40px;
    margin-top: 20px;
}

.link-buy a{
    text-decoration: underline;
    color: blue;
}

.benefit li i{
    padding: 0;
    font-size: 12px;
    color: #0160FF;
    
}

.benefit ul li{
    margin-top: 15px;
}

.team{
    width: 100%;
    
}

.type-card.box-team{
   margin-top: 30px; 
}

.card-team{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;border: 1px solid rgb(186, 180, 180);;
}

.col6-left{
    width: 70%;
}

.col6-left >*{
    margin-top: 25px;

}

.col6-right{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.col6-right button{
    margin-top: 20px;
}

.row.partner{
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.row.partner img{
    max-width: 90%;
}


.col1-partner{
    width: 65%;

}

.col2-partner{
    width: 35%;
}

.col2-partner p{
    margin-top:25px;
}

.btn-partner{
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
}

.buisness-title{
    font-size: 22px;
    padding-bottom: 40px;
}

.col-buisness{
    width: calc(4 * 100% / 12);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 15px;
}

.col-buisness h4, .col-buisness p{
    padding-top: 15px;
    line-height: 18px;
}

.dropbox-link{
    padding-top: 80px;
    padding-bottom: 80px;
}



.dropbox-link a{
    text-decoration: underline;
    color: blue;
    font-size: 12px;
    display: block;
    margin-top: 40px;
}

.col-partner{
    display: flex;
    flex-wrap: wrap;
    width: calc(4 * 100% / 12);
}

.col-partner img{
    max-width: 50%;
    padding: 50px;
    
}

.col-partner .design{
    background-color: rgb(133, 198, 133);
}

.col-partner .arizona{
    background-color: rgb(113, 31, 14);
}

.col-partner .florida{
    background-color: rgb(20, 167, 216);
}

.col-partner .toops{
    background-color: rgb(194, 0, 0);
}

.col-partner-large{
    flex-direction: column;
    background-color:#F5F5F5 ;
}

.col-partner-large img{
    max-width: 75%;
    padding: 20px;
}

.col-partner-large hr{
    color: gray;
    width: 60px;
    margin-top: 15px;
    margin-left: 20px;
    
}

.col-partner-large p{
    margin-top: 15px;
    font-size: 13px;
    line-height: 18px;
    padding: 20px;
}

.col-partner-large span{
    margin-top: 10px;
    font-size: 12px;
    padding: 20px;
}

.col-partner .clear-channel{
    background-color: red;
}

.col-partner .hearts-corp{
    background-color: rgb(92, 183, 226);
}

.col-partner .lonley-planet{
    background-color: rgb(25, 35, 125);
}

.col-partner .bicycle{
    background-color: rgb(236, 223, 41);
}










